*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: url(../img/ropa2.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav >a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav >a:hover{
    text-decoration: underline;
}

.signup-box{
    width: 320px;
    height: 450px;
    background: #000;
    color:#fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.signup-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.signup-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.signup-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.signup-box input{
    width: 100%;
    margin-bottom: 20px;
}

.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.signup-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    color: #fff;
    font-size: 18x;
    border-radius: 20px;
}

.signup-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.signup-box a:hover{
    color: #fff;
}